/**
* Ubiety Core Styling
*/

.ubiety {
  &__section-selector {
    position: absolute;
    bottom: 4rem;
    left: 2rem;
    z-index: 2;
    display: flex;
    border-radius: 2px;
    overflow: hidden;
  }
  &__breadcrumb {
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  &__selector-title {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 4rem 0 0;
    font-size: 1rem;
  }
  &__col--left {
    padding: 5px 12px 8px 12px;
    background: #ffffff;
    display: flex;
  }
  &__col--right {
    display: flex;
  }
  &__jump-section,
  &__section-menu {
    background: white;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
    width: 3rem;
    i {
      height: 15px;
    }
    i.icon-menu {
      height: 21px;
    }
    .icon-prev {
      transform: rotate(180deg);
    }
  }
  &__section-menu {
    width: auto;
    margin-right: 1rem;
  }
}
